<!--HEADER-->
<ion-header>
  <ion-toolbar ion-padding color="primary">     
    <div style="margin-left: 25%;">
      <img height="120px" class="ion-text-center"  src="assets/img/MODIFICACION.png"/>
    </div>
    <div class="ion-text-center ion-padding ">
      <ion-label class="text-white ">Ariel Andrades</ion-label> 
    </div>  
  </ion-toolbar>
</ion-header>
<!--HEADER-->
<!--MENU DE OPCIONES-->
<ion-content>
  <ion-list>
<!--PERFIL-CUENTA-->
    <ion-item routerLink="/perfil-cuenta">
      <ion-icon name="person-circle-outline" color="primary" class="ion-padding-horizontal"></ion-icon>
      <ion-label> Cuenta</ion-label>        
    </ion-item>
<!--PERFIL-PEDIDOS-->
    <ion-item routerLink="/perfil-pedidos">
      <ion-icon name="receipt" color="primary" class="ion-padding-horizontal"></ion-icon>
      <ion-label> Mis Ordenes</ion-label>
    </ion-item>
<!--PERFIL-TARJETAS-->
    <ion-item routerLink="/perfil-tarjetas">
      <ion-icon name="card-outline" color="primary" class="ion-padding-horizontal"></ion-icon>
      <ion-label> Mis Tarjetas</ion-label>
    </ion-item>
<!--PERFIL-DIRECCION-->
    <ion-item routerLink="/perfil-direccion">
      <ion-icon name="map-outline" color="primary" class="ion-padding-horizontal"></ion-icon>
      <ion-label> Direcciones</ion-label>
    </ion-item>
 <!--PERFIL-POLITICAS--> 
    <ion-item href="/perfil" >
      <ion-icon name="lock-closed-outline" color="primary" class="ion-padding-horizontal"></ion-icon>
      <ion-label> Politicas de Privacidad</ion-label>
    </ion-item>
<!--PERFIL-TERMINOS Y CONDICIONES-->  
    <ion-item routerLink="/perfil-terminos">
      <ion-icon name="newspaper-outline" color="primary" class="ion-padding-horizontal"></ion-icon>
      <ion-label> Terminos y Condiciones</ion-label>
    </ion-item>
<!--PERFIL-ESCRIBENOS-->
    <ion-item routerLink="/perfil-escribenos">
      <ion-icon name="mail-outline" color="primary" class="ion-padding-horizontal"></ion-icon>
      <ion-label> Escribenos</ion-label>
    </ion-item>
<!--CERRAR SESION-->
    <ion-item (click)="presentAlert()" routerLink="/login">
      <ion-icon name="close-circle-outline" color="primary" class="ion-padding-horizontal"></ion-icon>
      <ion-label> Cerrar Sesión</ion-label>
    </ion-item>
<!--IMAGEN-FOOTER-->
  </ion-list>

<!--IMAGEN-FOOTER-->
</ion-content>
<!--MENU DE OPCIONES-->

  
  
  
