<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/tienda" tab="tienda">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Tienda</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/ordenes" tab="ordenes">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Ordenes</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/perfil" tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
