<!--HEADER-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/perfil" routerDirection="back">
        <i class='bx bxs-chevron-left'></i>
      </ion-button></ion-buttons>
    <ion-title>Contactanos</ion-title>
  </ion-toolbar>
</ion-header>
<!--HEADER-->
<!--TITULO-->
<ion-content color="primary" >
<div  class="ion-text-center" ><p>Tu opinion es muy importante <br>para nosotros.</p></div>
<!--FIN TITULO-->
<!--CUADRO DE TEXTO-->
  <ion-card>
  <ion-item class="" >
    <ion-textarea rows="9" cols="12"  placeholder="Escribe tu mensaje"></ion-textarea>
  </ion-item>
  <div class="ion-text-center">
    <ion-button  color="primary" fill="solid">Enviar</ion-button>
  </div>
</ion-card>
<!--FIN CUADRO DE TEXTO-->
</ion-content>
