<ion-header>
 
</ion-header>

<ion-content color="primary" class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1 color="primary">Bienvenido !</h1>
      <h3>¿Tienes sed?</h3>
    </div>

    <div >
      <img height="100px" class="ion-text-center"  src="assets/img/MODIFICACION.png"/>
    </div>

    <div class="button-container">
      <ion-button color="tertiary" expand="block" class="main-button" routerLink="/login" routerDirection="forward">Iniciar Sesion</ion-button>
      <ion-button color="light" expand="block"  fill="clear" routerLink="/registro" routerDirection="forward">Registrarse</ion-button>
      
    </div>
    <ion-button color="primary" expand="full" routerLink="/tabs" >Ingresar como invitado</ion-button>
  </div>
</ion-content>