<!--HEADER-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/perfil" routerDirection="back">
        <i class='bx bxs-chevron-left'></i>
      </ion-button></ion-buttons>
    <ion-title>Direcciones</ion-title>
  </ion-toolbar>
</ion-header>
<!--HEADER-->

<!--TITULO-->
<ion-content color="primary" >

<!--TITULO-->
<!--INICIO DE SECCION DE DIRECCIONES-->
  <ion-card>
    <ion-item>
      <ion-icon name="search-outline"></ion-icon>
      <ion-input placeholder="  Ingresa una direccion"></ion-input>
    </ion-item>
<!--UBICACION ACTUAL-->
  <ion-list>
    <ion-item routerLink="/perfil-cuenta">
      <ion-icon class="ion-padding" color="primary" name="navigate-circle-outline"></ion-icon>
      <ion-label>
        <h4>Ubicación Actual</h4>
      </ion-label>  
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>       
    </ion-item>
<!--PRIMERA DIRECCION-->
    <ion-item routerLink="/perfil-cuenta">
      <ion-icon class="ion-padding" name="pin-outline"></ion-icon>
      <ion-label>
        <h4>Panama 8791 </h4>
        <p>Casa</p>
      </ion-label>  
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>       
    </ion-item>
<!--SEGUNDA DIRECCION-->
    <ion-item routerLink="/perfil-cuenta">
      <ion-icon class="ion-padding" name="pin-outline"></ion-icon>
      <ion-label>
        <h4>Socoroma 204</h4>
        <p>Casa Abuela</p>
      </ion-label>  
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>       
    </ion-item>
<!--TERCERA DIRECCION-->
    <ion-item routerLink="/perfil-cuenta">
      <ion-icon class="ion-padding" name="pin-outline"></ion-icon>
      <ion-label>
        <h4>Huerfanos 835</h4>
        <p>Trabajo</p>
      </ion-label>  
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>       
    </ion-item>
<!--CUARTA DIRECCION-->
    <ion-item routerLink="/perfil-cuenta">
      <ion-icon class="ion-padding" name="pin-outline"></ion-icon>
      <ion-label>
        <h4>Avenida Vicuna Mackena 7110</h4>
        <p>Otro</p>
      </ion-label> 
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>        
    </ion-item>
<!--QUINTA DIRECCION-->
    <ion-item routerLink="/perfil-cuenta">
      <ion-icon class="ion-padding" name="pin-outline"></ion-icon>
      <ion-label>
        <h4>Hermanos Clark 354</h4>
        <p>Otro</p>
      </ion-label>  
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>       
    </ion-item>
<!--SEXTA DIRECCION-->
    <ion-item routerLink="/perfil-cuenta">
      <ion-icon class="ion-padding" name="pin-outline"></ion-icon>
      <ion-label>
        <h4>Los Monarcas 11064</h4>
        <p>Otro</p>
      </ion-label> 
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>        
    </ion-item>
  </ion-list>
<!--// SECCION DE DIRECCIONES-->
</ion-card>
</ion-content>
